body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.navbar {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover, .active {
    background-color: #822bff;
    color: #000000;
    border-radius: 8px;
    font-weight: bold;
}

.titolo, h2{
    text-align: center;
    color: #822bff;
}

.titolo {
    font-size: 3.5em;
}

h2 {
    font-size: 2.2em;
}

p{
    color: #9d9d9d;
    font-size: 1.3rem;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 10px;
}

form {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

form label {
    font-size: 1.2em;
    color: #822bff;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"], form input[type="number"], form select {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 2px solid #555;
    border-radius: 10px;
    font-size: 1em;
    background-color: #222;
    color: #e0e0e0;
}

form input[type="submit"] {
    width: 100%;
    padding: 16px;
    background-color: #822bff;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #9b6ef3;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #1e1e1e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    padding: 14px;
    text-align: center;
    border: 1px solid #444;
    color: #e0e0e0;
}

th {
    background-color: #822bff;
    color: black;
    font-size: 1.2em;
}

td {
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #222;
}

tr:hover {
    background-color: #822bff;
    transition: background-color 0.3s;
}